<div class="main-container">
  <%= render partial: "layouts/header" %>
  <div class="container">
    <h1>Sobre Nomenclator-UDELAR</h1>
    <p>Bienvenidos al nomenclator UDELAR, aquí encontrarás más información sobre este proyecto</p>
  </div>
</div>
<%= render partial: "layouts/footer" %>
