<div class="main-container">
  <%= render partial: "layouts/header" %>
  <div class="container">
    <h1>Sobre el proyecto</h1>
    <p>
    ¿Qué lugar ocupan las mujeres en Udelar?. Te proponemos descubrirlo viendo cuántas cosas están nombradas en reconocimiento a mujeres en la Universidad y estadísticas de su presencia en el cuerpo estudiantil, docente y funcional.
    </p>

    <h2>Objetivo</h2>
    <p>
    La desigualdad de género está presente en la Udelar, como en el resto de la sociedad. El proyecto busca identificar y abordar algunas de esas desigualdades a través de la identificación de qué espacios, cursos u otras cosas son usadas para reconocer personas y cuantificar cómo se distribuyen esos nombres por género. Con esa información, se apunta a un segundo objetivo de mejorar esa representación que se presupone desbalanceada, y para ésto se pretende utilizar mecanismos participativos para la recolección de propuestas de qué mujeres deberían ser reconocidas en el ámbito universitario.
    </p>
    <p>
    Al mismo tiempo, la propuesta busca contextualizar esa información y enriquecerla entendiendo la distribución de roles por género en la UdelaR, tanto a nivel de estudiantes como funcionarios/as. Para ésto último se cuenta con información de calidad de estadísticas universitarias.
    </p>
    <h2>Enlaces de interés</h2>
    <ul>
    <li><a href="http://atunombre.udelar.edu.uy">http://atunombre.udelar.edu.uy</a></li>
    <li><a href="http://soporte.data.org.uy/es/folder/13/articles">http://soporte.data.org.uy/es/folder/13/articles</a></li>
    </ul>

    <h2>Contacto</h2>
    <ul>
    <li>Consultas sobre el proyecto A Tu Nombre Udelar y las políticas de Gobierno Abierto, participación y Gestión de Campus de Udelar (Prorrectorado de Gestión): <a href="mailto:prgestion@udelar.edu.uy">prgestion@udelar.edu.uy</a></li>
    <li>Consultas sobre las políticas y abordajes de género de la Udelar (Comisión Abierta de Equidad de Género): <a href="mailto:caeg@udelar.edu.uy">caeg@udelar.edu.uy</a></li>
    <li>Consultas sobre la herramienta o el proyecto A Tu Nombre y sus antecedentes (DATA Uruguay): <a href="mailto:contacto@data.org.uy">contacto@data.org.uy</a></li>
    <li><a href="http://soporte.data.org.uy/es/customer/create-ticket/">Formulario de contacto</a> (mesa de ayuda)</li>
    <li><a href="https://twitter.com/gestionudelar">Twitter Prorrectorado de Gestión</a></li>
    <li><a href="https://twitter.com/datauy">Twitter DATA Uruguay</a></li>
    <li><a href="https://www.instagram.com/datauy">Instagram DATA Uruguay</a></li>
    <li><a href="https://www.facebook.com/DATAuruguay">Facebook DATA Uruguay</a></li>
    </ul>

    <h2>Materiales para difusión</h2>
    <p>
    Materiales de difusión para publicación en redes sociales u otros medios está disponible para descargar. La descarga incluye formato vectorial (SVG), así como en PNGs en alta definición.
    </p>
    <ul>
    <li><a href="https://drive.google.com/open?id=17ViRX4N2_uC54oEePBGypUeEj7XJyxX8&authuser=daniel.chino.carranza%40gmail.com&usp=drive_fs">Materiales para difusión</a></li>
    </ul>
    <p>
    El logo de DATA Uruguay está disponible para descargar en sus versiones color y monocromo, para fondos claros y oscuros. La descarga incluye formato vectorial (SVG), así como en PNGs con fondo transparente en alta definición.
    </p>
    <ul>
    <li><a href="https://drive.google.com/open?id=1DYF9LftyrTKPwQS5JkZi5_99NIxEDZFQ">Descarga logotipo y materiales DATA Uruguay</a></li>
    </ul>

    <h3>Social</h3>
    <p>
    Noticias, novedades de proyectos, coberturas de eventos y más, desde nuestros canales sociales.
    </p>
    <ul>
    <li><a href="https://twitter.com/gestionudelar">Twitter Prorrectorado de Gestión</a></li>
    <li><a href="https://twitter.com/datauy">Twitter DATA Uruguay</a></li>
    <li><a href="https://www.instagram.com/datauy">Instagram DATA Uruguay</a></li>
    <li><a href="https://www.facebook.com/DATAuruguay">Facebook DATA Uruguay</a></li>
    <li><a href="http://www.youtube.com/user/DATAuruguay">YouTube DATA Uruguay</a></li>
    <li><a href="https://github.com/datauy">GitHub DATA Uruguay</a></li>
    </ul>

    <h3>Fotos</h3>
    <p>
    Las imágenes en el siguiente enlace corresponden a eventos relacionados con este proyecto y están bajo una <a href="https://creativecommons.org/licenses/by/4.0/deed.es">Licencia Creative Commons Atribución 4.0 Internacional</a>. Las licencias CC aclaran expresamente que sus términos no cubren los derechos relacionados con la "privacidad ni otros derechos personales similares." Las "libertades" que se otorgan mediante el uso de licencias CC, no incluyen la potestad de publicar la imagen propia de terceros sin su autorización. Sin embargo, se entiende que éstas imágenes de eventos públicos están incluídas dentro de la excepción planteada en el último inciso del artículo 21 de la Ley 9.739 (Derechos de Autor): "Es libre la publicación del retrato cuando se relacione con fines científicos, didácticos y, en general, culturales o con hechos o acontecimientos de interés público, o que se hubieren realizado en público". Por más información consultar: <a href="http://www.creativecommons.uy/uso-de-licencias-cc-en-obras-que-contengan-la-imagen-de-personas/?preview=true">Uso de licencias CC en obras que contengan imágenes de personas</a> (Creative Commons Uruguay).
    </p>
    <p>
    <a href="https://www.flickr.com/photos/datauy/collections/72157720039015408/">Colección en Flickr</a>.
    </p>

    <h2>Apoyan</h2>
    <ul>
    <li><a href="http://idatosabiertos.org">ILDA</a></li>
    <li><a href="http://miramama.com.uy/">Mirá Mamá</a></li>
    </ul>

    <h2>Antecedentes</h2>
    <p>
    <a href="https://www.datauy.org/">DATA Uruguay</a> es una organización de la sociedad civil que trabaja en temas de Gobierno Abierto, Datos Abiertos, Tecnología Cívica, Transparencia, Acceso a la Información y co-creación de política pública. Tiene como misión contribuir a una sociedad más justa a través del uso de datos abiertos y tecnología cívica, en base a tres pilares:
    </p>
    <ul>
    <li><strong>Herramientas:</strong> creación de aplicaciones sociales y tecnología cívica basada en Datos Abiertos, junto a otras organizaciones, el gobierno y la comunidad.</li>
    <li><strong>Comunidad:</strong> organización de eventos nacionales e internacionales para la creación de herramientas de tecnología cívica, reuso de los Datos Abiertos y redes de participación.</li>
    <li><strong>Activismo:</strong> Trabajo en red con organizaciones de la sociedad civil y academia locales e internacionales, en pos de la promoción de los Datos Abiertos, la Transparencia, el Acceso a la Información Pública, la participación y el Gobierno Abierto.</li>
    </ul>
    <p>
    Por mayor información sobre la organización puede consultarse el <a href="https://www.datauy.org/">sitio web</a> o el <a href="https://docs.google.com/document/d/1oPDSaUWg_cR9TxxdhleIS2ZcucI2XazJ-aCkOaa6o2s/edit#heading=h.fhukfnr8fym0">Dossier DATA Uruguay</a>.
    </p>
    <p>
    DATA Uruguay impulsa desde 2015 el proyecto <a href="http://atunombre.uy/">ATuNombre.uy</a>, que busca visibilizar la desigualdad de género en el nomenclátor de Montevideo, a través de una herramienta interactiva que muestra las calles con nombre de mujer y estadísticas asociadas a éstas.
    </p>
    <p>
    Por otro lado, la UdelaR viene trabajando en una serie de procesos e iniciativas para impulsar la igualdad de género y la visión interseccional en la Universidad, y uno de los procesos alcanzados por estos procesos es la iniciativa de Campus.
    </p>

    <h2>Datos/servicios abiertos que usa la aplicación</h2>
    <p>
    Los datos utilizados en esta aplicación se encuentran disponibles para su reutilización a través del <a href="https://catalogodatos.gub.uy/">Catálogo Nacional de Datos Abiertos</a> de AGESIC y/u otras fuentes, como datos abiertos, en formatos abiertos.
    </p>

    <h3>Datos abiertos</h3>
    <ul>
    <li><a href="https://catalogodatos.gub.uy/dataset/a-tu-nombre-udelar">Relevamiento de espacios e intangibles en homenaje a personas en la Universidad de la República</a></li>
    </ul>

    <h3>Otros datos</h3>
    <ul>
    <li>2020- Ingresos a Servicios (DGPlan Udelar)</li>
    <li>2020- Ingresos Posgrado según Área, servicio y carrera (DGPlan Udelar)</li>
    <li>Estudiante Activo Servicio 2020 (DGPlan Udelar)</li>
    <li>Funcionarios Docentes y TAS por sexo según  servicio_abril2020 (DGPlan Udelar)</li>
    <li>19.Egresos. x Area x Sexo x Carrera_2019 _may21 (DGPlan Udelar)</li>
    <li>EA SERVICIO 2020 SEGÚN SEXO (DGPlan Udelar)</li>
    </ul>

    <h2>Software Libre</h2>
    <p>
    Un programa es software libre si los usuarios tienen la libertad de ejecutar, copiar, distribuir, estudiar, modificar y mejorar el software, a través de cuatro libertades esenciales (<a href="https://www.gnu.org/philosophy/free-sw.html">Definición de software libre</a>):
    </p>
    <ul>
    <li>Libertad de ejecutar el programa como se desee, con cualquier propósito (libertad 0).</li>
    <li>Libertad de estudiar cómo funciona el programa, y cambiarlo para que haga lo que usted quiera (libertad 1). El acceso al código fuente es una condición necesaria para ello.</li>
    <li>Libertad de redistribuir copias para ayudar a otros (libertad 2).</li>
    <li>Libertad de distribuir copias de sus versiones modificadas a terceros (libertad 3). Esto le permite ofrecer a toda la comunidad la oportunidad de beneficiarse de las modificaciones. El acceso al código fuente es una condición necesaria para ello.</li>
    </ul>
    <p>
    DATA Uruguay incentiva la reutilización de este software para cualquier propósito, brindándolo bajo <a href="https://www.gnu.org/licenses/gpl-3.0.html">licencia GPLv3</a> para que otras organizaciones, gobiernos, empresas o ciudadanos puedan sacar provecho del trabajo aquí realizado.
    </p>
    <ul>
    <li><a href="http://github.com/datauy/nomenclatorUDELAR/">http://github.com/datauy/nomenclatorUDELAR/</a></li>
    </ul>

    <h2>Términos y condiciones</h2>
    <p>
    La prestación de este servicio tiene carácter gratuito para los usuarios/as. Los usuarios se obligan a hacer buen uso del sitio web y de sus contenidos, respetando la normativa nacional vigente, las buenas costumbres y el orden público, comprometiéndose en todos los casos a no causar daños al mismo ni a ningún tercero. A tal efecto, el usuario/a se abstendrá de utilizar cualquiera de los servicios con fines o efectos ilícitos, prohibidos en los presentes términos y condiciones, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, documentos y toda clase de contenidos en cualquier equipo informático o de otros usuarios/as.
    </p>
    <p>
    Para asegurarnos de que la aplicación esté acorde a las necesidades de nuestros usuarios, e intentar mejorarla utilizamos Google Analytics para recolectar información sobre cómo se utiliza. Google Analytics almacena información como qué páginas ha visitado, cuánto tiempo ha navegado en las mismas, cómo llegó a la página, qué elementos clikea e información sobre qué navegador utiliza. Su dirección IP es enmascarada (parcialmente almacenada) y la información personal sólo es reportada en forma no individualizada (agregada). No permitimos a Google usar o compartir nuestros datos analíticos para ningún propósito además de proveernos de información analítica y recomendamos que todo usuario de Google Analytics siga la misma política.
    </p>

    <h2>Procesamiento de datos</h2>
    <p>
    Los análisis y visualizaciones provistos por esta aplicación son realizados por DATA Uruguay. Estas operaciones están disponibles para consulta a través del código de la aplicación disponible en GitHub, así como el resto del código fuente.
    </p>

    <h2>Publicaciones, casos de estudio y materiales</h2>
    <ul>
    <li><a href="https://gestion.udelar.edu.uy/noticias/nomenclator-universitario-una-perspectiva-de-genero">Nomenclátor Universitario, una perspectiva de género</a></li>
    </ul>

    <h2>Cómo se financia el proyecto</h2>
    <p>
    El proyecto contó con un apoyo por USD 3.000 de la Iniciativa Latinoamericana por los Datos Abiertos (ILDA), que permitió iniciar su desarrollo. El resto del desarrollo fue financiado con aportes de Udelar por $283.500. Más allá de esos montos, las partes aportaron en especia trabajo y recursos para hacer posible el proyecto.
    </p>
    <p>
    DATA Uruguay es una asociación civil cuyos ingresos a lo largo del tiempo han provenido de diversas fuentes como:
    </p>
    <ul>
    <li>Fondos de apoyo a proyectos de fundaciones internacionales y organismos multilaterales</li>
    <li>Fondos de apoyo a la investigación/desarrollo de pilotos de fundaciones internacionales y organismos multilaterales</li>
    <li>Premios/concursos internacionales</li>
    <li>Convenios de trabajo con organismos públicos, organizaciones de la sociedad civil y academia</li>
    <li>Auspicios a proyectos de empresas del sector privado</li>
    </ul>
    <p>
    La composición de los fondos cada año varía según oportunidades y proyectos, por más información nuestros balances financieros están disponibles para su consulta en <a href="https://data.org.uy/transparencia/">nuestro sitio web</a>.
    </p>

    <h2>Fotos</h2>
    <p>
    Las imágenes en el siguiente enlace corresponden a eventos relacionados con este proyecto y están bajo una <a href="https://creativecommons.org/licenses/by/4.0/deed.es">Licencia Creative Commons Atribución 4.0 Internacional</a>. Las licencias CC aclaran expresamente que sus términos no cubren los derechos relacionados con la "privacidad ni otros derechos personales similares." Las "libertades" que se otorgan mediante el uso de licencias CC, no incluyen la potestad de publicar la imagen propia de terceros sin su autorización. Sin embargo, se entiende que éstas imágenes de eventos públicos están incluídas dentro de la excepción planteada en el último inciso del artículo 21 de la Ley 9.739 (Derechos de Autor): "<em>Es libre la publicación del retrato cuando se relacione con fines científicos, didácticos y, en general, culturales o con hechos o acontecimientos de interés público, o que se hubieren realizado en público"</em>. Por más información consultar: <a href="http://www.creativecommons.uy/uso-de-licencias-cc-en-obras-que-contengan-la-imagen-de-personas/?preview=true">Uso de licencias CC en obras que contengan imágenes de personas</a> (Creative Commons Uruguay).
    </p>
    <ul>
    <li><a href="https://www.flickr.com/photos/datauy/collections/72157720039015408/">Colección de fotos en Flickr</a></li>
    </ul>

    <h2>Notas de prensa</h2>
    <p>
    Los siguientes son enlaces a notas de prensa, medios y fuentes en línea donde se menciona el proyecto. Sus contenidos no necesariamente reflejan correctamente nuestras ideas, principios u opiniones.
    </p>
    <ul>
    <li><a href="https://raindrop.io/datauy-yt/a-tu-nombre-udelar-20886595">Colección de notas de prensa</a></li>
    </ul>

  </div>
</div>
<%= render partial: "layouts/footer" %>
