.home {
  .derecho {
    min-height: 100%;
    width: auto;
    position: relative;
  }
  .main-image {
    display: flex;
    justify-content: center;
    height: max-content;
    min-height: 40vh;
    position: relative;
  }
  #totals {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    .totals-container {
      max-width: 800px;
      .apexcharts-canvas {
        //max-width: 100%;
        .apexcharts-svg {
          max-width: 100%;
        }
      }
    }
  }
  #search-container {
    .type-select {
      margin-right: auto;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      width: 86px;
      cursor: pointer;
      position: relative;
      .type-options {
        position: absolute;
        display: block;
        top: 38px;
        background: #005598;
        left: -10px;
        padding: 10px;
        label {
          width: 100%;
          display: inline-flex;
          align-items: center;
          input {
            margin-right: 5px;
          }
        }
        &.hidden {
          display: none;
        }
      }
    }
    button {
      border-radius: 0;
      background: #005598;
      padding: 1px 10px;
      border: none;
    }
    form {
      background: #005598;
      display: inline-flex;
      width: 100%;
      justify-content: right;
      padding: 10px;
      #query {
        height: 22px;
        width: 240px;
      }
    }
    #search_results {
      padding: 10px 20px;
      height: 400px;
      overflow-y: scroll;
      border-bottom: 10px solid #005598;
      .person-profile {
        width: 100%;
        display: grid;
        margin-bottom: 10px;
        padding: 10px;
        &.active {
          background: #CCC;
        }
        .profile-visible {
          display: inline-flex;
          width: 100%;
          align-items: center;
          .profile-image img {
            border-radius: 50%;
          }
          .main-data {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            text-align: left;
            .mini-bio{

            }
          }
          button {
            float: right;
            height: 25px;
            display: block;
            margin: auto 0 auto auto;
            min-width: 68px;
            &.active {
              background-color: #05aef0;
            }
          }
        }
        .extended-data {
          width: 100%;
          float: left;
          margin: 10px 0;
        }
        button {

        }
      }
    }
  }
  /*SALAS*/
  #services {
    text-align: left;
    min-height: 400px;
    .graph-ico {
      width: 100%;
    }
    .totals {
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      position: relative;
      //bottom: -10px;
    }
    select {
      width: 100%;
      height: 36px;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 14px 10px 10px;
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 var(--vidrio);
      border: solid 1px #979797;
      background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
    }
    #place_type_graphs {
      .chart-container {
        float: left;
        position: relative;
        width: 25%;
        margin-bottom: 10px;
        height: 25vw;
        .chart {
          //float: left;
          height: 20vw;
          .graph-chart {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
  //RADIO GRAPHS
  .tab-btn {
    padding: 8px 12px;
    color: #005598;
    background: #FFF;
    border: solid 1px #005598;
    letter-spacing: 0.91px;
    margin: 0;
    text-shadow: none;
    width: 140px;
    &.btn-left {
      border-radius: 3px 0 0 3px;
    }
    &.btn-right {
      border-radius: 0px 3px 3px 0;
    }
    &.active {
      color: #fff;
      background-color: #005598;
    }
    &:hover {
      background: #05aef0;
    }
  }
  #percentage-estudiante,
  #percentage-funcionarie,
  #percentage-docente {
    li {
      position: relative;
      display: inline-flex;
      width: 100%;
      align-items: center;
      .graph {
        width: 50%;
        display: flex;
        justify-content: center;
        .graph-chart {
          max-width: 30vh;
        }
      }
      .totals {
        font-size: 48px;
        color: #fff;
        font-weight: bold;
        width: 50%;
        margin-bottom: 16px;
        text-align: center;
        span {
          font-size: 14px;
          width: 100%;
          display: block;
        }
      }
    }
  }
  //DATA
  .tab-selector {
    text-align: center;
  }
  .timeline-tooltip {
    margin: 10px;
    max-width: 80vw;
    .tooltip-header span {
      width: 100%;
    }
    .tooltip-body {
      display: block;
      img {
        float: left;
        width: 30%;
      }
      .tooltip-desc {
        float: left;
        width: 70%;
      }
    }
  }
  .note {
    font-size: 18px;
    line-height: 1.44;
  }
  .graph-ico {
    left: 0;
    position: absolute;
    width: 50%;
  }
  .diagoline {
    width: calc( 50% + 20px);
    position: absolute;
    height: 40px;
    border-bottom: 2px solid white;
    bottom: 0;

    &.left {
      -webkit-transform: translateY(-10px) translateX(-12px) rotate(10deg);
    }
    &.right {
      right: 0;
      -webkit-transform: translateY(-10px) translateX(12px) rotate(-10deg);
    }
  }
  .percentage-tabs {
    display: none;
    &.active {
      display: block;
    }
  }
  .map-container {
    position: relative;
    height: 400px;
    width: 100%;
    #map{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      svg {
        fill: #005598;
      }
    }
  }
}
