@media (min-width: 800px) {
  .container {
    width: 80%;
  }
  .header {
    .about-menu {
      right: 10%;
    }
    .arrow-back {
      left: 10%;
    }
  }
  .home {
    #services .services-container {
      #container-servicios.active {
        select {
          width: 80%;
        }
        .select-arrows {
          right: calc(10% + 34px);
        }
      }
      .services-container #place_type_graphs .chart-container {
        width: 20%;
        .chart {
          height: 16vw;
        }
      }
    }
    .map-container {
      width: 125%;
      margin-left: -12.5%;
      max-width: 125%;
    }
    #search-container {
      form {
        width: 125%;
        margin-left: -12.5%;
      }
      #search_results {
        padding: 10px 12.5%;
        width: 125%;
        margin-left: -12.5%;
      }
    }
    #percentage-estudiante li,
    #percentage-funcionarie li,
    #percentage-docente li {
      .graph-container .graph {
        height: 32vw;
      }
    }
  }
  #footer {
    padding: 30px 10%;
    .group.column {
      float: left;
      width: calc(33% - 44px);
      &.center {
        margin: 18px 67px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .home {
    #percentage-estudiante li,
    #percentage-funcionarie li,
    #percentage-docente li {
      width: 49%;
      .graph-container .graph {
        height: 20vw;
      }
    }
    .derecho {
      .container-derecho {
        width: 1000px;
      }
    }
  }
}
