@media (min-width: 800px) {

  .container {
    width: 80%;
  }
  .home #services .services-container #container-servicios.active {
    select {
      width: 80%;
    }
    .select-arrows {
      right: calc(10% + 34px);
    }
  }
  .home #services .services-container #place_type_graphs .chart-container {
    width: 20%;
    .chart {
      height: 16vw;
    }
  }
}
@media (min-width: 1200px) {
  .home #services .services-container #place_type_graphs .chart-container {
    width: 16.5%;
    .chart {
      height: 16vw;
    }
  }
}
